

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.filter-list-box {
	max-height: 300px;
	overflow: scroll;
	background-color: white;
}



.nav-sidebar label {
	margin-left: 20px;
}

.nav-sidebar .filter-list-box label {
	margin-left: inherit;
}


.nav-tabs {
	margin-bottom: 10px;
}

.tab-content {
	overflow: hidden;
}




