

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.filter-list-box {
	max-height: 300px;
	overflow: scroll;
	background-color: white;
}














